{% load static %}
<!DOCTYPE html>
<html lang="en">
 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://kit.fontawesome.com/874986f905.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'frontend/style.css' %}" />
    <title>REST API</title>
</head>
 
<body>
    <div id="root"></div>
 
    <script src="{% static 'frontend/bundle.js' %}">
    </script>
</body>
 
</html>